<main>
  <div class="container-about">
    <h1>Resumo sobre mim</h1>
    <p>
      Olá! Eu me chamo Thiago Araujo, tenho 26 anos, sou natural do Rio de Janeiro e
      apaixonado pela programação. Sou programador Web Full Stack formado pela
      Driven Education e também sou técnico em mecatrônica.
    </p>
    <p>
      Dentro da driven eu pude aprender várias tecnologias como
      <span>html</span>, <span>css</span>, <span>javascript</span>,
      <span>react</span>, <span>node</span>, <span>typeScript</span>,
      <span>mongoDB</span>, <span>Postgres</span>, <span>Jest</span>,
      <span>AWS</span>, <span>Docker</span> e muitas outras, tive a oportunidade
      de fazer mais de 25 projetos práticos, pois implementaram um método que
      eles chamavam carinhosamente de mão na massa rs, pois acreditavam e eu
      compartilho esse pensamento que para ser um programador bom você tem que
      ter muitos projetos na bagagem e adotaram uma forma muito legal que era
      entrega toda semana para poder simular o máximo possível o mercado de
      trabalho e com forme o tempo passava só ia fezendo meus olhos brilharem
      ainda mais para o desenvolvimento web e reforçar a certeza de que é com
      isso que quero trabalhar para o resto da vida.
    </p>

    <h2>Experiências anteriores</h2>
    <h3>Pesquisador</h3>
    <p>
      Eu atuei com pesquisa e desenvolvimento de equipamentos médicos na área
      pneumológica dentro do Laboratório de Instrumentação BioMedico dentro da
      UERJ (Universidade do Estado do Rio de Janeiro), lá eu trabalhava com
      eletrônica desenvolvendo placas de circuito impresso para os projetos, com
      pneumática para fazer ensaios pneumológicos, com mecânica para desenvolver
      as peças que seriam utilizadas nos projetos e também com programação para
      programar os microcontroladores que utilizavamos dentro dos projetos.
    </p>
    <h3>Tempo</h3>
    <p>junho de 2018 à dezembro de 2021</p>

    <h3>Professor</h3>
    <p>
      Trabalhei dando aulas de eletrônica de potência, eletrônica digital e
      automação para o segundo e terceiro ano do ensino médio na instituição de
      encino CAEL - Colégio Aplicação Emmanuel Leontsinis, lá dentro tive
      oportunidade de desenvolver muitas coisas como a minha comunicação, falar
      em publico e etc, pois ministrar aulas foi um desafio muito grande para
      mim, mas gostei muito da experiência de estar em sala de aula e acredito
      que tudo que aprendi posso levar para outras áreas principalmente minha
      comunicação interpessoal.
    </p>
    <h3>Tempo</h3>
    <p>maio de 2022 à outubro de 2022</p>
  </div>
</main>
