<div class="container">
    <div class="img"><img [src]="imagePerfil"></div>
    <div class="infos">
        <h3>Olá! Eu me chamo</h3>
        <h1><span class="firs-name">Thiago</span> Araujo</h1>
        <h2>Sou desenvolvedor Full Stack apaixonado por criar applicativos para a Web</h2>
        <div class="redes">
            <div class="linkedin">
                <img [src]="imageLinkedin" alt="linkedin.png">
            </div>
            <div class="github">
                <img [src]="imageGithub" alt="github.png">
            </div>
        </div>
    </div>
</div>

