<div class="container">
  <div class="header">
    <div class="initials">
      <span>T</span>
      <span>A</span>
    </div>
    <nav>
      <a routerLink="/">
        <div class="icon"><mat-icon>home</mat-icon></div>
        <p>Home</p>
      </a>
      <a routerLink="/skills"
        ><div class="icon"><mat-icon>star</mat-icon></div>
        <p>Skills</p></a
      >
      <a routerLink="/projects"
        ><div class="icon"><mat-icon>rocket_launch</mat-icon></div>
        <p>Projects</p></a
      >
      <a routerLink="/contacts"
        ><div class="icon"><mat-icon>call</mat-icon></div>
        <p>Contatos</p></a
      >

      <a routerLink="/courses"
        ><div class="icon"><mat-icon>school</mat-icon></div>
        <p>Cursos</p></a
      >
    </nav>
  </div>
  <div class="cont-princ"><router-outlet></router-outlet></div>
</div>
