.container-courses {
  padding: 20px;
}

.container-courses h1 {
  color: #595959;
  font-family: "Noto sans";
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 40px;
}

.container-courses h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  margin-top: 1.6em;
  margin-bottom: 1em;
  font-weight: 500;
  color: #595959;
}

.course-conclusion {
  padding: 10px 0;
}

.course-conclusion span {
  margin-right: 10px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #4a4444;
}

.container-courses ul {
  list-style: none;
  padding-left: 10px;
  padding: 0 20px;
}

.container-courses ul li {
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
  list-style-type: circle;
}



@media screen and (max-width: 500px) {
    .container-courses {
        margin-bottom: 80px;
    }
}