<main>
  <div class="container-courses">
    <h1>Cursos</h1>
    <h2>Driven Education</h2>
    <div class="course-conclusion">
      <span>Desenvolvimento Web Full Stack</span>
      <span>Conclusão: Março/2023</span>
    </div>
    <ul>
      <li>Formação intensiva de +1.200h focadas em +25 projetos práticos.</li>
      <li>
        Front-end e back-end com as tecnologias web: React, Node.js, TypeScript
        e Prisma.
      </li>
      <li>
        Fundamentos da engenharia de software: lógica, algoritmos, estrutura de
        dados, POO, arquitetura,
      </li>
      <li>
        Bancos de dados relacionais e não relacionais com Postgres, Mongo e
        Redis.
      </li>
      <li>Princípios de DevOps com GitHub Actions, Docker e AWS.</li>
      <li>
        Testes unitários, integração e ponta a ponta com Jest, SuperTest e
        Cypress.
      </li>
      <li>
        Trabalhos em equipe usando metodologias ágeis (Scrum), desenvolvimento
        de competências comportamentais e habilidades profissionais.
      </li>
    </ul>
    <h2>Colégio e Escola Técnica Triângulo</h2>
    <div class="course-conclusion">
      <span>Técnico em mecatrônica</span>
      <span>Conclusão: junho/2016</span>
      </div>
      <ul>
        <li>Carga horária de estágio supervisionado de 300 horas.</li>
        <li> Qualificação Profissional de Eletricista de Manutenção Eletroeletrônica</li>
        <li>Qualificação Profissional de Supervisor de Manutenção Eletromecânica Industrial, Comercial e Predial</li>
        <li>Qualificação Profissional de Montador e Reparador de Equipamentos Eletroeletrônicos</li>
        <li>Qualificação Profissional de Supervisor de Manutenção Eletromecânica Industrial, Comercial e Predial</li>
      </ul>
  </div>
</main>
